.quiz-container {
  text-align: center;

  .options {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .option-btn {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .option-btn.highlight-correct {
    background-color: #01b908; /* Green for correct answer */
    color: white;
  }
  
  .option-btn.highlight-incorrect {
    background-color: #e31c0d; /* Red for incorrect answer */
    color: white;
  }
  
  .option-btn:disabled {
    cursor: not-allowed;
    opacity: 0.8;
  }
  
}

.quiz-summary {
  text-align: center;
  margin-top: 50px;

  h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }

  p {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .btn-primary {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
  }
}
